system.daemon.set = true

directory.default.set = /media/wd/data

schedule2 = watch_directory_film,20,10,"load.start=/media/wd/data/Watch/film/*.torrent,d.directory.set=/media/wd/data/Watch/film/,d.custom1.set=film"
schedule2 = watch_directory_ismterj,21,10,"load.start=/media/wd/data/Watch/ismterj/*.torrent,d.directory.set=/media/wd/data/Watch/ismterj/,d.custom1.set=ismterj"
schedule2 = watch_directory_mese,22,10,"load.start=/media/wd/data/Watch/mese/*.torrent,d.directory.set=/media/wd/data/Watch/mese/,d.custom1.set=mese"
schedule2 = watch_directory_sorozat,23,10,"load.start=/media/wd/data/Watch/sorozat/*.torrent,d.directory.set=/media/wd/data/Watch/sorozat/,d.custom1.set=sorozat"
schedule2 = watch_directory_verseny,24,10,"load.start=/media/wd/data/Watch/verseny/*.torrent,d.directory.set=/media/wd/data/Watch/verseny/,d.custom1.set=verseny"
schedule2 = watch_directory_mese,25,10,"load.start=/media/wd/data/Watch/mesefilm/*.torrent,d.directory.set=/media/wd/data/Watch/mesefilm/,d.custom1.set=mese"
schedule2 = untied_directory,26,10,stop_untied=

method.insert = d.data_path,simple,"if=(d.is_multi_file),(cat,(d.directory),/),(cat,(d.directory),/,(d.name))"
method.insert = d.target_path,simple,"cat=/media/wd/data/Movies/,$d.custom1="
method.insert = d.move_to_complete,simple,"d.directory.set=$argument.1=; execute=mkdir,-p,$argument.1=; execute=mv,-u,-f,$argument.0=,$argument.1=; d.save_full_session="
method.set_key = event.download.finished,move_complete,"d.move_to_complete=$d.data_path=,$d.target_path="

trackers.use_udp.set = yes

protocol.encryption.set = allow_incoming,enable_retry,try_outgoing

dht.mode.set = on

network.port_range.set = 6881-6881
dht.port.set = 6880

protocol.pex.set = yes

scgi_port = 172.17.0.1:8113
