[Unit]
Description=Flood service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=readynas
ExecStart=/usr/bin/docker run --rm --name %n -v /var/lib/flood:/home/download/.local/share/flood -p 8112:3000 jesec/flood:4.8.4
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
