[Unit]
Description=Gitea Runner Service
After=gitea.service
Requires=gitea.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm -e GITEA_INSTANCE_URL=https://gitea.mhmxs.duckdns.org -e CONFIG_FILE=/config.yaml -e GITEA_RUNNER_REGISTRATION_TOKEN=**** -e GITEA_RUNNER_NAME=main --name %n --network container:gitea.service -v /media/ocz/lib/gitea/runner/config.yaml:/config.yaml -v /media/ocz/lib/gitea/runner/main:/data -v /var/run/docker.sock:/var/run/docker.sock gitea/act_runner:latest
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
