[Unit]
Description=Flood service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=readynas
ExecStart=/usr/bin/docker run --rm --name %n -e PUID=1000 -e PGID=1000 -e MYSQL_ROOT_PASSWORD=ihusdf982rIUHIUH87 -e TZ=Europe/Budapest -v /var/lib/mysql:/config -p 3306:3306 ghcr.io/linuxserver/mariadb:alpine-version-10.5.9-r0 
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
