[Unit]
Description=Minecraft service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=readynas
ExecStart=/usr/bin/docker run --rm --name %n -v /media/wd/data/backup/minecraft:/data -p 25565:25565 -e EULA=TRUE itzg/minecraft-server
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
