[Unit]
Description=Flood service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=readynas
ExecStart=/usr/bin/docker run --rm --name %n -e PUID=1000 -e PGID=1000 -e TZ=Europe/Budapest -v /var/lib/nextcloud:/config -v /media/wd/data/nextcloud:/data -p 7443:443 ghcr.io/linuxserver/nextcloud:version-21.0.1
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
