[Unit]
Description=Rtorrent servce
After=docker.service
Requires=docker.service

[Service]
User=readynas
Restart=always
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/docker run --rm --name %n -e PUID=1000 -e PGID=1000 -p 8112:80 -p 6881:6881 -p 6880:6880/udp -v /var/lib/rtorrent:/config -v /var/logs/rtorrent:/config/log/rtorrent -v /media/wd:/media/wd ghcr.io/linuxserver/rutorrent:version-v3.10
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
