[Unit]
Description=Rtorrent servcei
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=readynas
Restart=on-failure
RestartSec=3
ExecStartPre=/bin/sleep 60
ExecStartPre=/bin/rm -f /home/readynas/.rtorrent.lock
ExecStart=/usr/bin/rtorrent

[Install]
WantedBy=multi-user.target
