[Unit]
Description=Swag service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=readynas
EnvFile=swag.secret
ExecStart=/usr/bin/docker run --rm --name %n -v /var/lib/swag/config:/config -p 81:80 -p 443:443 -e PUID=1000 -e PGID=1000 -e TZ=Europe/Budapest -e URL=mhmxs.duckdns.org -e VALIDATION=duckdns -e SUBDOMAINS=jellyfin,flood,nextcloud linuxserver/swag:1.29.0
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
