[Unit]
Description=Wireguard service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=iptables -A FORWARD -i enp2s0 -o wg0 -j ACCEPT
ExecStartPost=iptables -A FORWARD -i wg0 -o enp2s0 -j ACCEPT
ExecStop=iptables -D FORWARD -i enp2s0 -o wg0 -j ACCEPT
ExecStopPost=iptables -D FORWARD -i wg0 -o enp2s0 -j ACCEPT

[Install]
WantedBy=multi-user.target
